In [2]:
import numpy as np
import pandas as pd

from pandas import Series,DataFrame

In [5]:
# Create a sample duplicate DF
df_obj = DataFrame({'column1':[1,1,2,2,3,3,3],
                    'column 2':['a','a','b','b','c','c','c'],
                     'column 3':['A','A','B','B','C','C','C']}) 

df_obj

  column 2 column 3  column1
0        a        A        1
1        a        A        1
2        b        B        2
3        b        B        2
4        c        C        3
5        c        C        3
6        c        C        3

In [9]:
# Check which rows are dulplicated
df_obj.duplicated()

0    False
1     True
2    False
3     True
4    False
5     True
6     True
dtype: bool

In [11]:
# Call drop_duplciates to get unique rows
df_no_dup_obj = df_obj.drop_duplicates()
df_no_dup_obj

  column 2 column 3  column1
0        a        A        1
2        b        B        2
4        c        C        3

In [13]:
# Creating another DF 
df_obj1 = DataFrame({'column1':[1,1,2,2,3,3,3],
                    'column 2':['a','a','b','b','c','c','c'],
                     'column 3':['A','A','B','B','C','D','C']}) 

df_obj1

  column 2 column 3  column1
0        a        A        1
1        a        A        1
2        b        B        2
3        b        B        2
4        c        C        3
5        c        D        3
6        c        C        3

In [16]:
# Drop only duplicates which have duplicate values in column 3
df_obj1.drop_duplicates(['column 3'])

  column 2 column 3  column1
0        a        A        1
2        b        B        2
4        c        C        3
5        c        D        3