In [2]:
import numpy as np
import pandas as pd

In [3]:
file_name = 'mtcars.csv'
cars = pd.read_csv(file_name)

cars.columns = ['car_names','mpg','cyl','disp','hp','drat','wt','qsec','vs','am','gear','carb']
cars.index = cars.car_names
cars.head()

,car_names,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
car_names,,,,,,,,,,,,
Mazda RX4,Mazda RX4,21.0,6,160.0,110,3.90,2.620,16.46,0,1,4,4
Mazda RX4 Wag,Mazda RX4 Wag,21.0,6,160.0,110,3.90,2.875,17.02,0,1,4,4
Datsun 710,Datsun 710,22.8,4,108.0,93,3.85,2.320,18.61,1,1,4,1
Hornet 4 Drive,Hornet 4 Drive,21.4,6,258.0,110,3.08,3.215,19.44,1,0,3,1
Hornet Sportabout,Hornet Sportabout,18.7,8,360.0,175,3.15,3.440,17.02,0,0,3,2

In [4]:
carb = cars.carb
carb.value_counts()

4    10
2    10
1     7
3     3
8     1
6     1
Name: carb, dtype: int64

In [5]:
cars_category = cars[['cyl','vs','am','gear','carb']]
cars_category.head()

                   cyl  vs  am  gear  carb
car_names
Mazda RX4            6   0   1     4     4
Mazda RX4 Wag        6   0   1     4     4
Datsun 710           4   1   1     4     1
Hornet 4 Drive       6   1   0     3     1
Hornet Sportabout    8   0   0     3     2

In [6]:
gears_group = cars_category.groupby('gear')
gears_group.describe()

        am                                               carb           ...   \
     count      mean       std  min  25%  50%  75%  max count      mean ...
gear                                                                    ...
3     15.0  0.000000  0.000000  0.0  0.0  0.0  0.0  0.0  15.0  2.666667 ...
4     12.0  0.666667  0.492366  0.0  0.0  1.0  1.0  1.0  12.0  2.333333 ...
5      5.0  1.000000  0.000000  1.0  1.0  1.0  1.0  1.0   5.0  4.400000 ...

      cyl         vs
      75%  max count      mean       std  min  25%  50%  75%  max
gear
3     8.0  8.0  15.0  0.200000  0.414039  0.0  0.0  0.0  0.0  1.0
4     6.0  6.0  12.0  0.833333  0.389249  0.0  1.0  1.0  1.0  1.0
5     8.0  8.0   5.0  0.200000  0.447214  0.0  0.0  0.0  0.0  1.0

[3 rows x 32 columns]

In [8]:
cars['group'] = pd.Series(cars.gear,dtype="category")
cars['group'].dtypes

TypeError: __init__() got an unexpected keyword argument 'raise_on_error'

In [9]:
cars['group'].value_counts()

KeyError: 'group'

In [11]:
pd.crosstab(cars['am'],cars['gear'])

gear   3  4  5
am
0     15  4  0
1      0  8  5